﻿<form method="post">
    Email : <input type="text" name="email" 
                    placeholder="example@domain.com"/>
    <br/>
    Message : <textarea name="message" 
            placeholder="type message here..."></textarea>
    <br/>
    <input type="submit" value="envoyer" name="ok"/>
</form>