﻿@using Fr.EQL.AI110.ChristmasFactory.Web.Models
@model StepsViewModel

<h1>Step 2</h1>
<form method="post" action="step3">

    Categorie : <label>@Model.Value1</label>
    <br />
    Sous catégorie :
    <select asp-for="Value2">
        <option value="10">X</option>
        <option value="11">Y</option>
        <option value="12">Z</option>
    </select>
    <br/>
    <input type="submit" value="Step 3 >>" />

</form>

