﻿@using Fr.EQL.AI110.ChristmasFactory.Web.Models
@model StepsViewModel

<h1>Step 1</h1>
<form method="post" action="Step2">
    
    Catégorie : 
    <select asp-for="Value1">
        @foreach(String s in Model.Categories)
        {
            <option value="@s">@s</option>
        }
    </select>
    <br/>
    <input type="submit" value="Step 2 >>" />

</form>

