﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
           <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
           <a asp-area="" asp-controller="Elf" asp-action="Index">Elfes</a>
           <a asp-area="" asp-controller="Toy" asp-action="Index">Jouets</a>
            @* appel du composant : *@
            @await Component.InvokeAsync("Basket", new {qte = 42})
       </nav>
    </header>
    <div class="container">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="errorMessage">
                @ViewBag.ErrorMessage
            </div>
        }
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
