﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model Elf

<h1>@Model.Name</h1>

<img src="~/images/elves/@Model.Picture" alt="@Model.Name"/>

<p>
    @if(Model.IsAvailable)
    {
        <span>Disponible</span>
    }
    else
    {
        <span>Indisponible</span>
    }
</p>

