﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model Elf

<h1>@ViewBag.Rubrique</h1>   

<form method="post">
    Nom : <input asp-for="Name"/> 
    @Html.ValidationMessageFor(model => model.Name)
    <br/>
    Image : <input asp-for="Picture"/>
    <br/>
    <input asp-for="IsAvailable"/> disponible
    <br />
    <input type="submit" value="Enregistrer"/>
    <input type="submit" value="Plop" formaction="@Url.Action("plop",new {id=42})"/>
</form>