﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model List<ElfDetails>

<h1>Liste des elfes modifiée</h1>

<a asp-controller="elf" 
   asp-action="create">
   <button>Nouveau</button>
</a>

<table>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Disponible</th>
        <th>Image</th>
        <th>Catégorie</th>
        <th>Details</th>
    </tr>

    @foreach (ElfDetails elf in Model)
    {
        <tr>
            <td>@elf.Id</td>
            <td>@elf.Name</td>
            <td>
                @if (elf.IsAvailable)
                {
                    <img src="/images/bouton_vert.png" alt="ok"/>
                    <span>oui</span>
                }
                else
                {
                    <img src="/images/bouton_rouge.png" alt="ko"/>
                    <span>non</span>
                }
            </td>
            <td>@elf.Picture</td>
            <td>@elf.CategoryName</td>
            <td>
                <a asp-controller="elf" 
                asp-action="infos" 
                asp-route-id="@elf.Id"><button>Voir details</button></a>
                <a asp-controller="elf" 
                asp-action="update" 
                asp-route-id="@elf.Id"><button>Modifier</button></a>

            </td>
        </tr>
    }

</table>
