﻿<form method="post">
    Nom : <input type="text" name="nom" 
                    placeholder="ex : Dobbie"/>
    <br/>
    Image : <textarea name="picture" 
            placeholder="ex : dobbie.jpg"></textarea>
    <br/>
    <input type="checkbox" name="dispo"/> disponible
    <br />
    <input type="submit" value="envoyer" name="ok"/>
</form>