﻿@using Fr.EQL.AI110.ChristmasFactory.Web.Models
@model DemoUploadViewModel

<!-- Le formulaire doit préciser : enctype="multipart/form-data" -->
<form enctype="multipart/form-data" method="post">

    <!-- le champ d'upload de fichier (lié à la property qui va bien dans le ViewModel) : -->
    <input asp-for="MonFichier" type="file" name="MonFichier"/>

    <input type="submit" value="Ok"/>


</form>