html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  _background-color:hotpink;
  _color:olive;
}

.catalogue {
    display:flex;
    flex-direction:row;
}

.catalogue article {
    border : 2px solid red;
    border-radius : 5px;
    margin:5px;
    padding : 5px;
}

    .catalogue article header {
        font-weight:bold;
        font-size:1.5em;
        text-decoration:underline;
        color:green;
        width:100px;
    }

    .catalogue article span {
        display:block;
    }

    .prix {
        font-style: italic;
    }

.errorMessage {
    border: 1px solid red;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    color: red;
    background-color: #fabbbb;
    
}