﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model Toy

@{
    //List<Elf> elves = (List<Elf>)ViewData["listeResponsables"];
    List<Elf> elves = ViewBag.ListeResponsables;
}

<h1>Edition d'un jouet</h1>

<form method="post">

    <label asp-for="Name">Nom :</label> 
    <input asp-for="Name"/>
    @Html.ValidationMessageFor(m => m.Name)
    <br/>
    <label asp-for="Description">Description :</label> 
    <textarea asp-for="Description"></textarea>
    <br/>
    <label asp-for="Price">Prix :</label> 
    <input asp-for="Price"/>
    @Html.ValidationMessageFor(m => m.Price)
    <br/>
    <label asp-for="IdResponsable">Responsable :</label>   
    @* Affichage de la liste d'elfes à partir du ViewData *@
    <select asp-for="IdResponsable">
        @foreach (Elf elf in elves)
        {
            <option value="@elf.Id">@elf.Name</option>
        }
    </select>
    <br/>
    <input type="submit" value="Enregistrer"/>
    @if (Model != null && Model.Id > 0)
    {
    <a asp-controller="Toy"
                    asp-action="Delete"
                    asp-route-id="@Model.Id">Supprimer</a>
    }
</form>
