﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@using Fr.EQL.AI110.ChristmasFactory.Web.Models
@model ToyCategoriesViewModel

<form method="post">

<ul>
    @foreach (ToyCategory cat in Model.Categories)
    {
        <li>
            <input type="checkbox" name="SelectedCategories" value="@cat.Id"/>
            @cat.Name
            @if (cat.Children.Count > 0)
            {
                <ul>
                    @foreach (ToyCategory cat2 in cat.Children)
                    {
                        <li>
                            <input type="checkbox" name="SelectedSubCategories" value="@cat2.Id"/>
                            @cat2.Name
                            @if (cat2.Children.Count > 0)
                            {
                                <ul>
                                    @foreach (ToyCategory cat3 in cat2.Children)
                                    {
                                        <li>
                                            <input type="checkbox" name="SelectedSubSubCategories" value="@cat3.Id"/>
                                            @cat3.Name
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
        </li>   
    }
</ul>

<input type="submit" value="OK"/>

</form>