﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@using Fr.EQL.AI110.ChristmasFactory.Web.Models
@model ToySearchViewModel

<h1>Catalogue du père Noël</h1>

@Html.RouteLink("Nouveau", new {controller="toy", action="create"})

<div>
    <form method="post">
        Responsable : 
        <select asp-for="IdResponsable">
            <option value="0">Tous...</option>
            @foreach (Elf elf in Model.Elves)
            {
                <option value="@elf.Id">@elf.Name</option>
            }
        </select>

        Nom : <input asp-for="ToyName"/>

        Prix entre <input asp-for="MinPrice"/>
        et <input asp-for="MaxPrice"/>

        <input type="submit" value="Filtrer"/>
    </form>
</div>

<section class="catalogue">

    @foreach (ToyDetails toy in Model.Toys)
    {
    <article>
        <header><a asp-controller="toy"
                    asp-action="update"
                    asp-route-id="@toy.Id">@toy.Name</a></header>
        <span class="prix">@toy.Price €</span>
        <span>responsable : @toy.RespName</span>
    </article>
    }
</section>

